@{
    ViewBag.Title = "Home Page";
}
<h1 class="bg-primary" >Jarosław Mazurowski  </h1>

<div class="jumbotron">
    <h1>Projekt Dot.net </h1>
    <h2>Użyte technologie: </h2>
    

</div>


<div class="container">
    <div class="row">
        <div class="col-md-3">
            <h2>Microsoft Dot.Net Framework</h2>
            <img src="https://windowspro.eu/wp-content/uploads/2018/09/installing-net-framework-1-1-in-windows-7-64-bit-730x430.png" class="img-thumbnail" alt="Responsive image">
            <p></p>

        </div>

        <div class="col-md-3">
            <h2>jQuery plugin :Datatable </h2>
            <img src="https://1.bp.blogspot.com/-x8kH8X5OSU0/Vk7aB_YLfKI/AAAAAAAAEQo/Men5G8bmlRU/s1600/datatables-logo.png" class="img-thumbnail" alt="Responsive image">
            <p></p>

        </div>


        <div class="col-md-3">
            <h2>Rest Full Services           </h2>
            <img src="https://kuharanbhowmik.files.wordpress.com/2018/02/api_rest.png" class="img-thumbnail" alt="Responsive image">
            <p></p>

        </div>

        <div class="col-md-3>
            <h2>Interfejs Api  </h2>
            <img src="http://michalogluszka.pl/wp-content/uploads/2016/03/webapi.jpg" class="img-thumbnail" alt="Responsive image">
            <p></p>
        </div>
    </div>
    <div class="container">


        <div class="col-md-3">
            <h2>Interfejs Api  </h2>
            <img src="https://getbootstrap.com/docs/4.0/assets/brand/bootstrap-social.png" class="img-thumbnail" alt="Responsive image">
            <p></p>

        </div>

        <div class="col-md-3">
            <h2>Interfejs Api  </h2>
            <img src="https://www.codeimmersives.com/wp-content/uploads/2018/06/JS-JSON-AJAX-jQuery-logos.jpg" class="img-thumbnail" alt="Responsive image">
            <p></p>

        </div>

        <div class="col-md-3">
            <h2>Ajax Jave Script  </h2>
            <img src="https://www.htmllion.com/img/pageimg/bootbox-js.png" class="img-thumbnail" alt="Responsive image">
            <p></p>

        </div>


    </div>

    <ul class="list-group">
        <li class="list-group-item">Odczyt i zapis danych z bazy</li>
        <li class="list-group-item">Autentykacja użytkowników 2 role</li>
        <li class="list-group-item">Walidacja formulaży</li>
        <li class="list-group-item">Filtrowanie i sortowanie danych</li>
        <li class="list-group-item">Stylownie widoków </li>
        <li class="list-group-item">Wykorzystanie Rest Full services with Asp.net web api </li>
        <li class="list-group-item">Użycie Ajax i JS na widokach </li>
        <li class="list-group-item">Entity Framework z wykozystaniem Code First i Migracji </li>
        <li class="list-group-item">Użycie Mapowanie AutoMapper </li>
        <li class="list-group-item">Zapezpieczenie komunikacji klient-serwer AntiForgryToken </li>
        <li class="list-group-item">Kominikaty ToggleBox </li>
        <li class="list-group-item">Kominikaty TypeAched </li>
        <li class="list-group-item">Kominikaty Tostr</li>
        <li class="list-group-item">Single page application </li>
        <li class="list-group-item">Generowanie widoku po stronie klienta </li>
    </ul>



</div>

<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon1"></span>
    </div>
    <input type="text" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
</div>

<div class="input-group mb-3">
    <input type="text" class="form-control" placeholder="Recipient's username" aria-label="Recipient's username" aria-describedby="basic-addon2">
    <div class="input-group-append">
        <span class="input-group-text" id="basic-addon2"></span>
    </div>
</div>

<label for="basic-url">Your vanity URL</label>
<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text" id="basic-addon3">https://example.com/users/</span>
    </div>
    <input type="text" class="form-control" id="basic-url" aria-describedby="basic-addon3">
</div>

<div class="input-group mb-3">
    <div class="input-group-prepend">
        <span class="input-group-text">$</span>
    </div>
    <input type="text" class="form-control" aria-label="Amount (to the nearest dollar)">
    <div class="input-group-append">
        <span class="input-group-text">.00</span>
    </div>
</div>

<div class="input-group">
